.coaches {
  padding: 105px 0;
  position: relative;
}

.coaches__link {
  cursor: pointer;
}

.coaches__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;

  @media (min-width: $vp-320) and (max-width: $vp-768) {
    display: block;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1200) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  @media (min-width: $vp-1200) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3%;
  }
}

.coaches__item {
  position: relative;

  @media (min-width: $vp-768) and (max-width: $vp-1200) {

    &:nth-child(1),
    &:nth-child(2) {
      display: none;
    }
  }

  @media (min-width: $vp-1200) {
    max-width: 260px;
    max-height: 294px;
  }
}

.coaches__title {
  font-family: $alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  margin: 0;
  margin-bottom: 48px;
}

.coaches__photo {
  position: relative;
}

.coaches__name {
  margin: 0;
  position: absolute;
  bottom: 25px;
  left: 69px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}

.coaches__active {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 17%;
  background-color: rgba(16, 38, 84, 0.89);
  color: #ffffff;
  text-align: center;
}

.coaches__active-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}

.coaches__active-text {
  color: #b6bdcc;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  margin-bottom: 25px;
}

.coaches__active-list {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding: 0;
  list-style-type: disc;
}

.coaches__active-item {
  @media (min-width: $vp-1200) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.coaches__button-back,
.coaches__button-next {
  position: absolute;
  padding: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-1200) {
    & svg {
      width: 16px;
      height: 32px;
    }
  }

  @media (min-width: $vp-768) and (max-width: $vp-1200) {
    & svg {
      width: 16px;
      height: 32px;
    }
  }
}

.coaches__button-back {
  left: -80px;
  top: 55%;
}

.coaches__button-next {
  right: -80px;
  top: 55%;
}
