.hero {
  display: flex;
  color: #ffffff;
}

.hero__image {
  @media(max-width: $vp-768) {
    width: 0;
    height: 0;
  }
}

.hero__text-container {
  display: flex;
  flex-wrap: wrap;
}

.hero__city {
  width: 11%;
  font-family: Alumni Sans;
  font-size: 48px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__main-title {
  text-align: right;
  font-family: Alumni Sans;
  font-size: 92px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.6px;
}

.hero__description {
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__button {
  width: 230px;
  height: 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: #ffffff solid 4px;
}
