.main-header {
  background: url("../img/background/background-header.jpg");
  background-size: 100% 100%;
  padding-top: 30px;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.main-header__logo {
  font-family: $alumni-sans;
  color: #ffffff;
  font-weight: 600;
  line-height: normal;

  @media (min-width: $vp-320) and (max-width: $vp-768) {
    font-size: 20px;
    letter-spacing: 0.4px;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1200) {
    font-size: 24px;
    letter-spacing: 0.48px;
  }

  @media (min-width: $vp-1200) {
    font-size: 36px;
    letter-spacing: 0.72px;
  }
}

.main-header__phone {
  color: #ffffff;
  font-family: $alumni-sans;
  font-weight: 600;
  line-height: normal;

  @media (min-width: $vp-320) and (max-width: $vp-768) {
    font-size: 20px;
    letter-spacing: 0.4px;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1200) {
    font-size: 24px;
    letter-spacing: 0.48px;
  }

  @media (min-width: $vp-1200) {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
