.super-games {
  @media (min-width: $vp-320) and (max-width: $vp-768) {
    padding-top: 70px;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1200) {
    padding-top: 100px;
  }

  @media (min-width: $vp-1200) {
    padding-top: 120px;
  }
}

.super-games__wrapper {
  width: 100%;
  display: flex;

  @media (min-width: $vp-320) and (max-width: $vp-768) {
    flex-wrap: wrap;
  }
}

.super-games__text-block {
  background-color: #ed0233;
  color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);

  @media (min-width: $vp-320) and (max-width: $vp-768) {
    width: 100%;
    padding: 50px 44px;
    min-height: 292px;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1200) {
    width: 45%;
    padding: 51px 45px;
  }

  @media (min-width: $vp-1200) {
    width: 40%;
    padding: 85px 79px;
  }
}

.super-games__date {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.super-games__time {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.super-games__image {
  @media (min-width: $vp-320) and (max-width: $vp-768) {
    width: 100%;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1200) {
    width: 55%;
  }

  @media (min-width: $vp-1200) {
    width: 60%;
  }

  & img {
    width: 100%;
    height: 100%;
  }
}

.super-games__title {
  font-family: $alumni-sans;
  font-weight: 600;
  font-size: 48px;
  line-height: 96%;
  letter-spacing: 1.44px;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  @media (min-width: $vp-1200) {
    font-size: 82px;
    line-height: 96%;
    letter-spacing: 2.46px;
  }
}

.super-games__subtitle {
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  margin: 0;

  @media (min-width: $vp-1200) {
    font-size: 18px;
  }
}

.super-games__text {
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
  margin: 0;
  display: flex;

  @media (min-width: $vp-1200) {
    font-size: 14px;
  }
}

.super-games__number {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  margin-right: 3px;

  @media (min-width: $vp-1200) {
    font-size: 40px;
    margin-right: 7px;
  }
}

.super-games__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  @media (min-width: $vp-1200) {
    font-size: 18px;
  }
}

.super-games__button {
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #FFF;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 53px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;

  @media (min-width: $vp-1200) {
    font-size: 12px;
    letter-spacing: 0.6px;
    border: 4px solid #FFF;
    padding: 10% 20%;
  }
}
